src/conf/xml-resources/web-service-references/WSFerreteria/wsdl/localhost_44288/WSFerreteria/WSFerreteria.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.ferreteria.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.ferreteria.com/" name="WSFerreteria">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.ferreteria.com/" schemaLocation="http://localhost:44288/WSFerreteria/WSFerreteria?xsd=1" />
</xsd:schema>
</types>
<message name="Productoinventario">
<part name="parameters" element="tns:Productoinventario" />
</message>
<message name="ProductoinventarioResponse">
<part name="parameters" element="tns:ProductoinventarioResponse" />
</message>
<message name="listaProductos">
<part name="parameters" element="tns:listaProductos" />
</message>
<message name="listaProductosResponse">
<part name="parameters" element="tns:listaProductosResponse" />
</message>
<message name="Listaproveedor">
<part name="parameters" element="tns:Listaproveedor" />
</message>
<message name="ListaproveedorResponse">
<part name="parameters" element="tns:ListaproveedorResponse" />
</message>
<message name="ingreso">
<part name="parameters" element="tns:ingreso" />
</message>
<message name="ingresoResponse">
<part name="parameters" element="tns:ingresoResponse" />
</message>
<message name="Agregaventa">
<part name="parameters" element="tns:Agregaventa" />
</message>
<message name="AgregaventaResponse">
<part name="parameters" element="tns:AgregaventaResponse" />
</message>
<message name="Ordencompr">
<part name="parameters" element="tns:Ordencompr" />
</message>
<message name="OrdencomprResponse">
<part name="parameters" element="tns:OrdencomprResponse" />
</message>
<message name="formapagos">
<part name="parameters" element="tns:formapagos" />
</message>
<message name="formapagosResponse">
<part name="parameters" element="tns:formapagosResponse" />
</message>
<portType name="WSFerreteria">
<operation name="Productoinventario">
<input wsam:Action="http://servicio.ferreteria.com/WSFerreteria/ProductoinventarioRequest" message="tns:Productoinventario" />
<output wsam:Action="http://servicio.ferreteria.com/WSFerreteria/ProductoinventarioResponse" message="tns:ProductoinventarioResponse" />
</operation>
<operation name="listaProductos">
<input wsam:Action="http://servicio.ferreteria.com/WSFerreteria/listaProductosRequest" message="tns:listaProductos" />
<output wsam:Action="http://servicio.ferreteria.com/WSFerreteria/listaProductosResponse" message="tns:listaProductosResponse" />
</operation>
<operation name="Listaproveedor">
<input wsam:Action="http://servicio.ferreteria.com/WSFerreteria/ListaproveedorRequest" message="tns:Listaproveedor" />
<output wsam:Action="http://servicio.ferreteria.com/WSFerreteria/ListaproveedorResponse" message="tns:ListaproveedorResponse" />
</operation>
<operation name="ingreso">
<input wsam:Action="http://servicio.ferreteria.com/WSFerreteria/ingresoRequest" message="tns:ingreso" />
<output wsam:Action="http://servicio.ferreteria.com/WSFerreteria/ingresoResponse" message="tns:ingresoResponse" />
</operation>
<operation name="Agregaventa">
<input wsam:Action="http://servicio.ferreteria.com/WSFerreteria/AgregaventaRequest" message="tns:Agregaventa" />
<output wsam:Action="http://servicio.ferreteria.com/WSFerreteria/AgregaventaResponse" message="tns:AgregaventaResponse" />
</operation>
<operation name="Ordencompr">
<input wsam:Action="http://servicio.ferreteria.com/WSFerreteria/OrdencomprRequest" message="tns:Ordencompr" />
<output wsam:Action="http://servicio.ferreteria.com/WSFerreteria/OrdencomprResponse" message="tns:OrdencomprResponse" />
</operation>
<operation name="formapagos">
<input wsam:Action="http://servicio.ferreteria.com/WSFerreteria/formapagosRequest" message="tns:formapagos" />
<output wsam:Action="http://servicio.ferreteria.com/WSFerreteria/formapagosResponse" message="tns:formapagosResponse" />
</operation>
</portType>
<binding name="WSFerreteriaPortBinding" type="tns:WSFerreteria">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Productoinventario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaProductos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Listaproveedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingreso">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Agregaventa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Ordencompr">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="formapagos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSFerreteria">
<port name="WSFerreteriaPort" binding="tns:WSFerreteriaPortBinding">
<soap:address location="http://localhost:44288/WSFerreteria/WSFerreteria" />
</port>
</service>
</definitions>